In [1]:
# Import the requests library.
import requests
import numpy as np
import pandas as pd
# Import the requests library.
import requests
import datetime
from datetime import datetime
import matplotlib.pyplot as plt
# Dependencies for the wine API
import urllib
import json
# Import the API key.
from config import Token_NOAA
from config import API_Token
import calendar
#Suppress Warnings
pd.options.mode.chained_assignment = None  # default='warn'
#Display all columns
pd.set_option('display.max_columns', None)

In [2]:
# calender_years=[1992,1993, 1994, 1995,1996,1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,2013, 2014,2015, 2016, 2017]
calender_years=[2010, 2011]

calender_months=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
regions=[]

# Importing Data

In [3]:
napa_min_max=pd.read_csv('Napa_Max_Min.csv')
walla_min_max=pd.read_csv('Walla_Max_Min.csv')
columbia_min_max=pd.read_csv('Columbia_Max_Min.csv')
sonoma_min_max=pd.read_csv('Sonoma_Max_Min.csv')
santa_min_max=pd.read_csv('Santa_Max_Min.csv')
yakima_min_max=pd.read_csv('Yakima_Max_Min.csv')
dundee_min_max=pd.read_csv('dundee_Max_Min.csv')
willamette_min_max=pd.read_csv('Willamette_Max_Min.csv')

napa_prcp=pd.read_csv('Napa_Prcp.csv')
walla_prcp=pd.read_csv('Walla_Prcp.csv')
columbia_prcp=pd.read_csv('Columbia_Prcp.csv')
sonoma_prcp=pd.read_csv('Sonoma_Prcp.csv')
santa_prcp=pd.read_csv('Santa_Prcp.csv')
yakima_prcp=pd.read_csv('Yakima_Prcp.csv')
dundee_prcp=pd.read_csv('Dundee_Prcp.csv')
willamette_prcp=pd.read_csv('Willamette_Prcp.csv')

# Identifying Errors In Data

In [4]:
# napa_min_max.reset_index(inplace=True)
# walla_min_max.reset_index(inplace=True)
# columbia_min_max.reset_index(inplace=True)
# sonoma_min_max.reset_index(inplace=True)
# santa_min_max.reset_index(inplace=True)
# yakima_min_max.reset_index(inplace=True)
# dundee_min_max.reset_index(inplace=True)
# willamette_min_max.reset_index(inplace=True)

# napa_prcp.reset_index(inplace=True)
# walla_prcp.reset_index(inplace=True)
# columbia_prcp.reset_index(inplace=True)
# sonoma_prcp.reset_index(inplace=True)
# santa_prcp.reset_index(inplace=True)
# yakima_prcp.reset_index(inplace=True)
# dundee_prcp.reset_index(inplace=True)
# dundee_prcp.reset_index(inplace=True)
# willamette_prcp.reset_index(inplace=True)


# napa_min_max['date']=pd.to_datetime(napa_min_max['date'])
# walla_min_max['date']=pd.to_datetime(walla_min_max['date'])
# columbia_min_max['date']=pd.to_datetime(columbia_min_max['date'])
# sonoma_min_max['date']=pd.to_datetime(sonoma_min_max['date'])
# santa_min_max['date']=pd.to_datetime(santa_min_max['date'])
# yakima_min_max['date']=pd.to_datetime(yakima_min_max['date'])
# dundee_min_max['date']=pd.to_datetime(dundee_min_max['date'])
# willamette_min_max['date']=pd.to_datetime(willamette_min_max['date'])

# napa_prcp['date']=pd.to_datetime(napa_prcp['date'])
# walla_prcp['date']=pd.to_datetime(walla_prcp['date'])
# columbia_prcp['date']=pd.to_datetime(columbia_prcp['date'])
# sonoma_prcp['date']=pd.to_datetime(sonoma_prcp['date'])
# santa_prcp['date']=pd.to_datetime(santa_prcp['date'])
# yakima_prcp['date']=pd.to_datetime(yakima_prcp['date'])
# dundee_prcp['date']=pd.to_datetime(dundee_prcp['date'])
# willamette_prcp['date']=pd.to_datetime(willamette_prcp['date'])

# napa_min_max =napa_min_max.set_index('date').resample('M').mean()
# walla_min_max=walla_min_max.set_index('date').resample('M').mean()
# columbia_min_max =columbia_min_max.set_index('date').resample('M').mean()
# sonoma_min_max=sonoma_min_max.set_index('date').resample('M').mean()
# santa_min_max=santa_min_max.set_index('date').resample('M').mean()
# yakima_min_max=yakima_min_max.set_index('date').resample('M').mean()
# dundee_min_max=dundee_min_max.set_index('date').resample('M').mean()
# willamette_min_max=willamette_min_max.set_index('date').resample('M').mean()

# napa_prcp=napa_prcp.set_index('date').resample('M').mean()
# walla_prcp=walla_prcp.set_index('date').resample('M').mean()
# columbia_prcp=columbia_prcp.set_index('date').resample('M').mean()
# sonoma_prcp=sonoma_prcp.set_index('date').resample('M').mean()
# santa_prcp=santa_prcp.set_index('date').resample('M').mean()
# yakima_prcp=yakima_prcp.set_index('date').resample('M').mean()
# dundee_prcp=dundee_prcp.set_index('date').resample('M').mean()
# willamette_prcp=willamette_prcp.set_index('date').resample('M').mean()

# print(napa_min_max.isnull().sum())
# print(walla_min_max.isnull().sum())
# print(columbia_min_max.isnull().sum())
# print(sonoma_min_max.isnull().sum())
# print(santa_min_max.isnull().sum())
# print(yakima_min_max.isnull().sum())
# print(dundee_min_max.isnull().sum())
# # print(willamette_min_max.isnull().sum())

# print(napa_prcp.isnull().sum())
# print(walla_prcp.isnull().sum())
# print(columbia_prcp.isnull().sum())
# print(sonoma_prcp.isnull().sum())
# print(santa_prcp.isnull().sum())
# print(yakima_prcp.isnull().sum())
# print(dundee_prcp.isnull().sum())
# # print(willamette_prcp.isnull().sum())

# Min/Max/Avg Temperatures

In [5]:
napa_min_max=napa_min_max.set_index('date')
walla_min_max=walla_min_max.set_index('date')
columbia_min_max=columbia_min_max.set_index('date')
sonoma_min_max=sonoma_min_max.set_index('date')
santa_min_max=santa_min_max.set_index('date')
yakima_min_max=yakima_min_max.set_index('date')
dundee_min_max=dundee_min_max.set_index('date')
willamette_min_max=willamette_min_max.set_index('date')

In [6]:
merged_temp=pd.merge(napa_min_max, columbia_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, walla_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, sonoma_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, santa_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, yakima_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, dundee_min_max, left_index=True, right_index=True)
# merged_temp=pd.merge(merged_temp, willamette_min_max, left_index=True, right_index=True)

In [7]:
merged_temp.reset_index(inplace=True)
merged_temp['date']=pd.to_datetime(merged_temp['date'])
merged_temp = merged_temp.set_index('date').resample('M').mean()

In [8]:
merged_temp.reset_index(inplace= True )
merged_temp['date']=pd.to_datetime(merged_temp['date'])
merged_temp.reset_index(inplace=True)
merged_temp['day'] = merged_temp['date'].dt.day
merged_temp['month'] = merged_temp['date'].dt.month
merged_temp['year'] = merged_temp['date'].dt.year

list_months=[]
for x in merged_temp['month']:
    list_months.append(calendar.month_name[x])
merged_temp['months']=list_months
merged_temp.drop(['date', 'day','month'], axis=1, inplace=True)

In [9]:
merged_final_temp=pd.DataFrame()
merged_final_temp['avgTempNapa']=(merged_temp['avgMaxTempNapa']+merged_temp['avgMinTempNapa'])/2
merged_final_temp['avgTempColumbia']=(merged_temp['avgMaxTempColumbia']+merged_temp['avgMinTempColumbia'])/2
merged_final_temp['avgTempWalla']=(merged_temp['avgMaxTempWalla']+merged_temp['avgMaxTempWalla'])/2
merged_final_temp['avgTempSonoma']=(merged_temp['avgMaxTempSonoma']+merged_temp['avgMaxTempSonoma'])/2

merged_final_temp['avgTempSanta']=(merged_temp['avgMaxTempSanta']+merged_temp['avgMinTempSanta'])/2
merged_final_temp['avgTempYakima']=(merged_temp['avgMaxTempYakima']+merged_temp['avgMinTempYakima'])/2
merged_final_temp['avgTempDundee']=(merged_temp['avgMaxTempDundee']+merged_temp['avgMinTempDundee'])/2
merged_final_temp['Year']=merged_temp['year']
merged_final_temp['Months']=merged_temp['months']
merged_final_temp

,avgTempNapa,avgTempColumbia,avgTempWalla,avgTempSonoma,avgTempSanta,avgTempYakima,avgTempDundee,Year,Months
0,44.571429,32.625000,40.107143,54.607143,50.482143,34.625000,44.250000,1992,January
1,52.678571,39.875000,49.142857,64.250000,55.517857,40.089286,47.535714,1992,February
2,54.322581,49.596774,60.677419,65.741935,56.225806,48.096774,50.516129,1992,March
3,58.366667,53.666667,63.933333,74.433333,61.100000,50.716667,53.800000,1992,April
4,62.816667,63.833333,78.533333,82.900000,61.650000,60.300000,60.633333,1992,May
...,...,...,...,...,...,...,...,...,...
303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,April
304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,May
305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,June
306,67.666667,78.000000,93.000000,85.333333,64.000000,80.500000,74.666667,2017,July
307,68.906250,77.120833,89.625000,88.812500,66.114583,73.906250,71.968750,2017,August

In [10]:
print(merged_final_temp.isnull().sum())

avgTempNapa        5
avgTempColumbia    5
avgTempWalla       5
avgTempSonoma      5
avgTempSanta       5
avgTempYakima      5
avgTempDundee      5
Year               0
Months             0
dtype: int64

# Percipitation

In [11]:
#set the date as index to merge data
napa_prcp=napa_prcp.set_index('date')
walla_prcp=walla_prcp.set_index('date')
columbia_prcp=columbia_prcp.set_index('date')
sonoma_prcp=sonoma_prcp.set_index('date')
santa_prcp=santa_prcp.set_index('date')
yakima_prcp=yakima_prcp.set_index('date')
dundee_prcp=dundee_prcp.set_index('date')
willamette_prcp=willamette_prcp.set_index('date')

In [12]:
#Merge data
merged_prcp=pd.merge(napa_prcp, columbia_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, walla_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, sonoma_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, santa_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, yakima_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, dundee_prcp, left_index=True, right_index=True)
# merged_prcp=pd.merge(merged_prcp, willamette_prcp, left_index=True, right_index=True)

In [13]:
#reset to convert date to datetime, then resample based on month
merged_prcp.reset_index(inplace=True)
merged_prcp['date']=pd.to_datetime(merged_prcp['date'])
merged_prcp = merged_prcp.set_index('date').resample('M').mean()

In [14]:
merged_prcp.reset_index(inplace= True )
merged_prcp['date']=pd.to_datetime(merged_prcp['date'])
merged_prcp.reset_index(inplace=True)
merged_prcp['day'] = merged_prcp['date'].dt.day
merged_prcp['month'] = merged_prcp['date'].dt.month
merged_prcp['year'] = merged_prcp['date'].dt.year

list_months=[]
for x in merged_prcp['month']:
    list_months.append(calendar.month_name[x])
merged_prcp['months']=list_months
merged_prcp.drop(['date', 'day','month'], axis=1, inplace=True)
merged_prcp

,index,PRCPNapa,PRCPColumbia,PRCPWalla,PRCPSonoma,PRCPSanta,PRCPYakima,PRCPDundee,year,months
0,0,0.076000,0.026333,0.032333,0.073667,0.106333,0.009000,0.372333,1992,January
1,1,0.253103,0.013793,0.044483,0.338621,0.382759,0.021379,0.254138,1992,February
2,2,0.138065,0.005161,0.008387,0.226129,0.140323,0.013226,0.043548,1992,March
3,3,0.021000,0.028000,0.043667,0.030000,0.009333,0.032000,0.266667,1992,April
4,4,0.000000,0.000323,0.004839,0.000000,0.000000,0.001290,0.001290,1992,May
...,...,...,...,...,...,...,...,...,...,...
303,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,April
304,304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,May
305,305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,June
306,306,0.000000,0.000000,0.000000,0.000000,0.006667,0.000000,0.000000,2017,July
307,307,0.000000,0.000000,0.000000,0.000000,0.000577,0.013846,0.027692,2017,August

In [15]:
print(merged_prcp.isnull().sum())

index            0
PRCPNapa        15
PRCPColumbia    15
PRCPWalla       15
PRCPSonoma      15
PRCPSanta       15
PRCPYakima      15
PRCPDundee      15
year             0
months           0
dtype: int64

In [16]:
merged_final_temp.to_csv( 'Final_Temp_Weather_API.csv', index = False)
merged_prcp.to_csv( 'Final_Prcp_Weather_API.csv', index = False)