In [1]:
# Import the requests library.
import requests
import numpy as np
import pandas as pd
# Import the requests library.
import requests
import datetime
from datetime import datetime
import matplotlib.pyplot as plt
# Dependencies for the wine API
import urllib
import json
# Import the API key.
from config import Token_NOAA
from config import API_Token
import calendar
#Suppress Warnings
pd.options.mode.chained_assignment = None  # default='warn'
#Display all columns
pd.set_option('display.max_columns', None)

In [2]:
# Import the API key.
headers = {
    'accept': 'application/json',
    'authorization': API_Token
    }

# Red Wine

In [19]:
#import JSON data with the API
req_red_USA = urllib.request.Request('https://api.globalwinescore.com/globalwinescores/latest/?color=red&limit=5000&country=Usa', data=None, headers=headers, origin_req_host=None, unverifiable=False, method=None)
res_red_USA = urllib.request.urlopen(req_red_USA).read().decode()
obj_red_USA = json.loads(res_red_USA)
#read json into DF
red_USA_df = pd.DataFrame.from_dict(obj_red_USA['results'], orient='columns')
# Delete unnecessary columns
red_USA_df.drop([ 'wine_slug', 'appellation_slug',  'date',  'lwin', 'lwin_11'],axis=1, inplace=True)
#convert vintage to date type
red_USA_df['vintage']= pd.to_datetime(red_USA_df['vintage']).dt.year
red_USA_df['regions']=red_USA_df['regions'].str.get(0)
red_USA_df

,wine,wine_id,appellation,color,wine_type,regions,country,classification,vintage,is_primeurs,score,confidence_index,journalist_count
0,"Ridge Vineyards, Monte Bello, Santa Cruz Mount...",120786,Santa Cruz Mountains,Red,,California,Usa,None,2013,False,95.83,C+,8
1,"Quintessa, Rutherford",118360,Rutherford,Red,,California,Usa,None,2015,False,95.77,C,3
2,"Harlan Estate, Napa Valley",81980,Napa Valley,Red,,California,Usa,None,2001,False,98.89,A+,6
3,"Dalla Valle Vineyards, Maya, Napa Valley",48290,Napa Valley,Red,,California,Usa,None,2001,False,96.49,B+,5
4,"Philip Togni Vineyard, Cabernet Sauvignon, Nap...",115154,Napa Valley,Red,,California,Usa,None,2001,False,96.20,B,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4359,"Pine Ridge Vineyards, Rutherford Cabernet Sauv...",116343,Napa Valley,Red,,California,Usa,None,1995,False,85.97,C+,3
4360,"La Jota Vineyard, Cabernet Sauvignon, Howell M...",92780,Howell Mountain,Red,,California,Usa,None,1995,False,89.51,C,3
4361,"Pine Ridge Vineyards, Stags Leap District Cabe...",116344,Napa Valley,Red,,California,Usa,None,1995,False,84.59,C,3
4362,"Flora Springs, Sangiovese, Napa Valley",74746,Napa Valley,Red,,California,Usa,None,1996,False,85.51,C,3
4363,"Shafer Vineyards, Merlot, Napa Valley",126747,Napa Valley,Red,,California,Usa,None,1995,False,87.96,B,3

# White Wine

In [22]:
#import JSON data with the API
req_white_USA = urllib.request.Request('https://api.globalwinescore.com/globalwinescores/latest/?color=white&limit=5000&country=Usa', data=None, headers=headers, origin_req_host=None, unverifiable=False, method=None)
res_white_USA = urllib.request.urlopen(req_white_USA).read().decode()
obj_white_USA = json.loads(res_white_USA)
#read json into DF
white_USA_df = pd.DataFrame.from_dict(obj_white_USA['results'], orient='columns')
# Delete unnecessary columns
white_USA_df.drop([ 'wine_slug', 'appellation_slug',  'date',  'lwin', 'lwin_11'],axis=1, inplace=True)
#convert vintage to date type
white_USA_df['vintage']= pd.to_datetime(white_USA_df['vintage']).dt.year
white_USA_df['regions']=white_USA_df['regions'].str.get(0)
white_USA_df

,wine,wine_id,appellation,color,wine_type,regions,country,classification,vintage,is_primeurs,score,confidence_index,journalist_count
0,"Ridge Vineyards, Monte Bello Chardonnay, White...",120785,Santa Cruz Mountains,White,dry,California,Usa,None,2016,False,94.39,B,3
1,"Stags' Leap Winery, Chardonnay, White, Napa Va...",129823,Napa Valley,White,dry,California,Usa,None,2016,False,89.83,A+,3
2,"Joseph Phelps Vineyards, Freestone Chardonnay,...",89569,Sonoma Coast,White,dry,California,Usa,None,2016,False,90.73,C+,4
3,"Crossbarn By Paul Hobbs, Chardonnay, White, So...",47377,Sonoma Coast,White,dry,California,Usa,None,2016,False,90.39,B+,3
4,"Mount Eden Vineyards, Chardonnay, White, Santa...",107658,Santa Cruz Mountains,White,dry,California,Usa,None,2015,False,92.22,B,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,"Peter Michael Winery, Belle Cote Chardonnay, W...",114819,Sonoma County,White,dry,California,Usa,None,1996,False,91.76,C+,3
780,"Peter Michael Winery, Clos Du Ciel Chardonnay,...",114820,California,White,dry,California,Usa,None,1996,False,91.00,C+,3
781,"Kistler Vineyards, Hudson Vineyard Chardonnay,...",91298,Carneros,White,dry,California,Usa,None,1995,False,93.90,A,3
782,"Joseph Phelps Vineyards, Carneros Chardonnay, ...",89562,Los Carneros,White,dry,California,Usa,None,1996,False,86.86,A,3
783,"Ferrari-Carano, Fume Blanc, White, Sonoma County",73121,Sonoma County,White,dry,California,Usa,None,1993,False,88.14,B+,3

# Importing Data

In [5]:
napa_min_max=pd.read_csv('Napa_Max_Min.csv')
walla_min_max=pd.read_csv('Walla_Max_Min.csv')
columbia_min_max=pd.read_csv('Columbia_Max_Min.csv')
sonoma_min_max=pd.read_csv('Sonoma_Max_Min.csv')
santa_min_max=pd.read_csv('Santa_Max_Min.csv')
yakima_min_max=pd.read_csv('Yakima_Max_Min.csv')
dundee_min_max=pd.read_csv('dundee_Max_Min.csv')
willamette_min_max=pd.read_csv('Willamette_Max_Min.csv')

napa_prcp=pd.read_csv('Napa_Prcp.csv')
walla_prcp=pd.read_csv('Walla_Prcp.csv')
columbia_prcp=pd.read_csv('Columbia_Prcp.csv')
sonoma_prcp=pd.read_csv('Sonoma_Prcp.csv')
santa_prcp=pd.read_csv('Santa_Prcp.csv')
yakima_prcp=pd.read_csv('Yakima_Prcp.csv')
dundee_prcp=pd.read_csv('Dundee_Prcp.csv')
willamette_prcp=pd.read_csv('Willamette_Prcp.csv')

# Identifying Errors In Data

In [6]:
# napa_min_max.reset_index(inplace=True)
# walla_min_max.reset_index(inplace=True)
# columbia_min_max.reset_index(inplace=True)
# sonoma_min_max.reset_index(inplace=True)
# santa_min_max.reset_index(inplace=True)
# yakima_min_max.reset_index(inplace=True)
# dundee_min_max.reset_index(inplace=True)
# willamette_min_max.reset_index(inplace=True)

# napa_prcp.reset_index(inplace=True)
# walla_prcp.reset_index(inplace=True)
# columbia_prcp.reset_index(inplace=True)
# sonoma_prcp.reset_index(inplace=True)
# santa_prcp.reset_index(inplace=True)
# yakima_prcp.reset_index(inplace=True)
# dundee_prcp.reset_index(inplace=True)
# dundee_prcp.reset_index(inplace=True)
# willamette_prcp.reset_index(inplace=True)


# napa_min_max['date']=pd.to_datetime(napa_min_max['date'])
# walla_min_max['date']=pd.to_datetime(walla_min_max['date'])
# columbia_min_max['date']=pd.to_datetime(columbia_min_max['date'])
# sonoma_min_max['date']=pd.to_datetime(sonoma_min_max['date'])
# santa_min_max['date']=pd.to_datetime(santa_min_max['date'])
# yakima_min_max['date']=pd.to_datetime(yakima_min_max['date'])
# dundee_min_max['date']=pd.to_datetime(dundee_min_max['date'])
# willamette_min_max['date']=pd.to_datetime(willamette_min_max['date'])

# napa_prcp['date']=pd.to_datetime(napa_prcp['date'])
# walla_prcp['date']=pd.to_datetime(walla_prcp['date'])
# columbia_prcp['date']=pd.to_datetime(columbia_prcp['date'])
# sonoma_prcp['date']=pd.to_datetime(sonoma_prcp['date'])
# santa_prcp['date']=pd.to_datetime(santa_prcp['date'])
# yakima_prcp['date']=pd.to_datetime(yakima_prcp['date'])
# dundee_prcp['date']=pd.to_datetime(dundee_prcp['date'])
# willamette_prcp['date']=pd.to_datetime(willamette_prcp['date'])

# napa_min_max =napa_min_max.set_index('date').resample('M').mean()
# walla_min_max=walla_min_max.set_index('date').resample('M').mean()
# columbia_min_max =columbia_min_max.set_index('date').resample('M').mean()
# sonoma_min_max=sonoma_min_max.set_index('date').resample('M').mean()
# santa_min_max=santa_min_max.set_index('date').resample('M').mean()
# yakima_min_max=yakima_min_max.set_index('date').resample('M').mean()
# dundee_min_max=dundee_min_max.set_index('date').resample('M').mean()
# willamette_min_max=willamette_min_max.set_index('date').resample('M').mean()

# napa_prcp=napa_prcp.set_index('date').resample('M').mean()
# walla_prcp=walla_prcp.set_index('date').resample('M').mean()
# columbia_prcp=columbia_prcp.set_index('date').resample('M').mean()
# sonoma_prcp=sonoma_prcp.set_index('date').resample('M').mean()
# santa_prcp=santa_prcp.set_index('date').resample('M').mean()
# yakima_prcp=yakima_prcp.set_index('date').resample('M').mean()
# dundee_prcp=dundee_prcp.set_index('date').resample('M').mean()
# willamette_prcp=willamette_prcp.set_index('date').resample('M').mean()

# print(napa_min_max.isnull().sum())
# print(walla_min_max.isnull().sum())
# print(columbia_min_max.isnull().sum())
# print(sonoma_min_max.isnull().sum())
# print(santa_min_max.isnull().sum())
# print(yakima_min_max.isnull().sum())
# print(dundee_min_max.isnull().sum())
# # print(willamette_min_max.isnull().sum())

# print(napa_prcp.isnull().sum())
# print(walla_prcp.isnull().sum())
# print(columbia_prcp.isnull().sum())
# print(sonoma_prcp.isnull().sum())
# print(santa_prcp.isnull().sum())
# print(yakima_prcp.isnull().sum())
# print(dundee_prcp.isnull().sum())
# # print(willamette_prcp.isnull().sum())

# Min/Max/Avg Temperatures

In [7]:
napa_min_max=napa_min_max.set_index('date')
walla_min_max=walla_min_max.set_index('date')
columbia_min_max=columbia_min_max.set_index('date')
sonoma_min_max=sonoma_min_max.set_index('date')
santa_min_max=santa_min_max.set_index('date')
yakima_min_max=yakima_min_max.set_index('date')
dundee_min_max=dundee_min_max.set_index('date')
willamette_min_max=willamette_min_max.set_index('date')

In [8]:
merged_temp=pd.merge(napa_min_max, columbia_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, walla_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, sonoma_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, santa_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, yakima_min_max, left_index=True, right_index=True)
merged_temp=pd.merge(merged_temp, dundee_min_max, left_index=True, right_index=True)
# merged_temp=pd.merge(merged_temp, willamette_min_max, left_index=True, right_index=True)

In [9]:
merged_temp.reset_index(inplace=True)
merged_temp['date']=pd.to_datetime(merged_temp['date'])
merged_temp = merged_temp.set_index('date').resample('M').mean()

In [10]:
merged_temp.reset_index(inplace= True )
merged_temp['date']=pd.to_datetime(merged_temp['date'])
merged_temp.reset_index(inplace=True)
merged_temp['day'] = merged_temp['date'].dt.day
merged_temp['month'] = merged_temp['date'].dt.month
merged_temp['year'] = merged_temp['date'].dt.year

list_months=[]
for x in merged_temp['month']:
    list_months.append(calendar.month_name[x])
merged_temp['months']=list_months
merged_temp.drop(['date', 'day','month'], axis=1, inplace=True)

In [11]:
merged_final_temp=pd.DataFrame()
merged_final_temp['avgTempNapa']=(merged_temp['avgMaxTempNapa']+merged_temp['avgMinTempNapa'])/2
merged_final_temp['avgTempColumbia']=(merged_temp['avgMaxTempColumbia']+merged_temp['avgMinTempColumbia'])/2
merged_final_temp['avgTempWalla']=(merged_temp['avgMaxTempWalla']+merged_temp['avgMaxTempWalla'])/2
merged_final_temp['avgTempSonoma']=(merged_temp['avgMaxTempSonoma']+merged_temp['avgMaxTempSonoma'])/2

merged_final_temp['avgTempSanta']=(merged_temp['avgMaxTempSanta']+merged_temp['avgMinTempSanta'])/2
merged_final_temp['avgTempYakima']=(merged_temp['avgMaxTempYakima']+merged_temp['avgMinTempYakima'])/2
merged_final_temp['avgTempDundee']=(merged_temp['avgMaxTempDundee']+merged_temp['avgMinTempDundee'])/2
merged_final_temp['Year']=merged_temp['year']
merged_final_temp['Months']=merged_temp['months']
merged_final_temp

,avgTempNapa,avgTempColumbia,avgTempWalla,avgTempSonoma,avgTempSanta,avgTempYakima,avgTempDundee,Year,Months
0,44.672414,32.931034,46.931034,54.793103,50.517241,34.965517,46.068966,1992,January
1,52.678571,39.875000,49.928571,64.250000,55.517857,40.089286,49.806878,1992,February
2,54.322581,49.596774,60.838710,65.741935,56.225806,48.096774,53.887097,1992,March
3,58.366667,53.666667,65.733333,74.433333,61.100000,50.716667,56.133333,1992,April
4,62.816667,63.833333,78.766667,82.900000,61.650000,60.300000,63.866667,1992,May
...,...,...,...,...,...,...,...,...,...
303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,April
304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,May
305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,June
306,67.666667,78.000000,96.333333,85.333333,64.000000,80.500000,73.333333,2017,July
307,68.906250,77.120833,89.750000,88.812500,66.114583,73.906250,71.750000,2017,August

In [12]:
print(merged_final_temp.isnull().sum())

avgTempNapa        82
avgTempColumbia    82
avgTempWalla       82
avgTempSonoma      82
avgTempSanta       82
avgTempYakima      82
avgTempDundee      82
Year                0
Months              0
dtype: int64

# Percipitation

In [13]:
#set the date as index to merge data
napa_prcp=napa_prcp.set_index('date')
walla_prcp=walla_prcp.set_index('date')
columbia_prcp=columbia_prcp.set_index('date')
sonoma_prcp=sonoma_prcp.set_index('date')
santa_prcp=santa_prcp.set_index('date')
yakima_prcp=yakima_prcp.set_index('date')
dundee_prcp=dundee_prcp.set_index('date')
willamette_prcp=willamette_prcp.set_index('date')

In [14]:
#Merge data
merged_prcp=pd.merge(napa_prcp, columbia_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, walla_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, sonoma_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, santa_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, yakima_prcp, left_index=True, right_index=True)
merged_prcp=pd.merge(merged_prcp, dundee_prcp, left_index=True, right_index=True)
# merged_prcp=pd.merge(merged_prcp, willamette_prcp, left_index=True, right_index=True)

In [15]:
#reset to convert date to datetime, then resample based on month
merged_prcp.reset_index(inplace=True)
merged_prcp['date']=pd.to_datetime(merged_prcp['date'])
merged_prcp = merged_prcp.set_index('date').resample('M').mean()

In [16]:
merged_prcp.reset_index(inplace= True )
merged_prcp['date']=pd.to_datetime(merged_prcp['date'])
merged_prcp.reset_index(inplace=True)
merged_prcp['day'] = merged_prcp['date'].dt.day
merged_prcp['month'] = merged_prcp['date'].dt.month
merged_prcp['year'] = merged_prcp['date'].dt.year

list_months=[]
for x in merged_prcp['month']:
    list_months.append(calendar.month_name[x])
merged_prcp['months']=list_months
merged_prcp.drop(['date', 'day','month'], axis=1, inplace=True)
merged_prcp

,index,PRCPNapa,PRCPColumbia,PRCPWalla,PRCPSonoma,PRCPSanta,PRCPYakima,PRCPDundee,year,months
0,0,0.068861,0.024430,0.050506,0.068734,0.093797,0.008734,0.403291,1992,January
1,1,0.263590,0.014103,0.047564,0.347179,0.407821,0.022436,0.247051,1992,February
2,2,0.138065,0.005161,0.015806,0.226129,0.140323,0.013226,0.043548,1992,March
3,3,0.021000,0.028000,0.067667,0.030000,0.009333,0.032000,0.266667,1992,April
4,4,0.000000,0.000323,0.008387,0.000000,0.000000,0.001290,0.001290,1992,May
...,...,...,...,...,...,...,...,...,...,...
298,298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,November
299,299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,December
300,300,0.491726,0.054465,0.045851,0.401302,0.562628,0.069588,0.475860,2017,January
301,301,0.457407,0.083613,0.092029,0.353525,0.518903,0.086728,0.621005,2017,February
302,302,0.253100,0.096559,0.126999,0.169512,0.266821,0.044773,0.431261,2017,March

In [17]:
print(merged_prcp.isnull().sum())

index             0
PRCPNapa        130
PRCPColumbia    130
PRCPWalla       130
PRCPSonoma      130
PRCPSanta       130
PRCPYakima      130
PRCPDundee      130
year              0
months            0
dtype: int64

In [18]:
red_USA_df.to_csv("Red_Wine_USA.csv")
white_USA_df.to_csv("White_Wine_USA.csv")
merged_final_temp.to_csv( 'Final_Temp_Weather_API.csv', index = False)
merged_prcp.to_csv( 'Final_Prcp_Weather_API.csv', index = False)